# Game Build // tuner DLC
set sv_enforceGameBuild 2372

# Voor lamba
sv_scriptHookAllowed 0

# Rcon (NIET GEBRUIKT)
#rcon_password ""

# Tags
sets tags "roleplay, rp, nl, be, custom content, fortis,artis, zevenbeek, reboot"

# Language
sets locale "nl-NL"

# Banner
sets banner_detail "https://cdn.discordapp.com/attachments/702238472223719585/1025701499029958686/banner.png"
sets banner_connecting "https://cdn.discordapp.com/attachments/702238472223719585/1025701499029958686/banner.png"
#sets Discord "https://discord.zevenbeekreboot.nl/"
sets Discord "https://discord.gg/HZ88aFbFX5"
#sets Github "https://github.com/AnykeysTTV/FortisRoleplay"
sets Credits "fortis Roleplay"

sv_hostname "[NL/BE]Live 14 okt ^2 Zevenbeek rebooted Roleplay ^7 💶 Unieke jobs & bijbanen ^2 💻 Bitcoin minen ^7🏝️ Cayo perico ^2 💊 Custom onderwereld ^7 ⚙️ Wekelijkse updates ^2 🔰 Actieve Staff & hechte community!"
sets sv_projectName "^2Zevenbeek rebooted"
sets sv_projectDesc "Waar de spelers op één staan! — Bitcoin minen, Cayo Perico, Unieke scripts, gezellige community & actief development"
load_server_icon logo.png

#sv_tebexSecret 

# Resource caching door de beste host van heel Nederland hatseflatse!
#fileserver_add ".*" "https://6627119kvm5677_os.vibegames.pro/files"
#adhesive_cdnKey "6627119kvm5677_os"


#shows queue count in the server name '[count] server name'
set sv_displayqueue true

# Uncomment this line if you do not want your server to be listed in the server browser.
# sv_master1 ""


# Hide player endpoints in external log output.
sv_endpointprivacy true

# Max clients
sv_maxclients 10

# PMA Voicechat
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_enableSubmix 1
setr voice_defaultCycle "Y"
setr voice_enableRadioAnim 1
setr voice_defaultVolume "0.9"